/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#content_wrapper { display: block; position: relative; width: 100%; height: 100%; }
header { display: none; position: fixed; top: 0; left: 0; width: 320px; height: 63px; background: #FBF0A6 url('../img/logo-list.png') 19px 0 no-repeat; }
article { display: block; position: relative; width: 320px; height: 100%; background-color: #FFF; color: #000; }
article .content_container { position: relative; width: 100%; }
input { border: 1px solid #972C02; color: #972C02; font: 18px/33px Arial, Helvetica, sans-serif; margin: 6px 17px; width: 306px; height: 33px; }

#noconnection { display: none; }
#loginbtn { background: transparent url('../img/buttons/submit.png') 0 0 no-repeat; border: 0; margin: 6px 17px; width: 308px; height: 35px; }
#createbtn { display: block; background: transparent url('../img/buttons/create-an-account.png') 0 0 no-repeat; border: 0; margin: 6px 17px; width: 308px; height: 35px; }
#signupbtn { background: transparent url('../img/buttons/sign-up.png') 0 0 no-repeat; border: 0; margin: 6px 17px; width: 308px; height: 35px; }

.page { display: none; }

.content_container.home, .content_container.signupform { background: #FBF0A6 url('../img/logo-home.png') center 52px no-repeat; height: 100%; }

#map_canvas { height: 100%; width: 100%; }

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

}

/* iPhone 4, Opera Mobile 11 and other high pixel ratio devices ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.0),
only screen and (-o-min-device-pixel-ratio: 1),
only screen and (min--moz-device-pixel-ratio: 1.0),
only screen and (min-device-pixel-ratio: 1.0) {
  /* Styles */
  header { background-size: 268px 37px; }
  #loginbtn { background-size: 280px 35px; }
  #createbtn { background-size: 280px 35px; }
  #signupbtn { background-size: 280px 35px; }
  .content_container.home, .content_container.signupform { background-size: 195px 90px; }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
