/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body { width: 100%; height: 100%; padding: 0; margin: 0; background-color: #FBF0A6; }

#container { width: 100%; height: 100%; position: relateive; margin: 0; padding: 0; overflow-y: scroll; overflow-x: hidden; }

.padd157 { width: 100%; height: 157px; }
.padd167 { width: 100%; height: 167px; }

label { margin: 0 27px; color: #972C02; }
input { border: 1px solid #972C02; color: #972C02; font: 18px/33px Arial, Helvetica, sans-serif; margin: 6px 17px; width: 81%; height: 33px; }

#noconnection { display: none; }
#loginbtn { background: transparent url('../img/buttons/submit.png') 0 0 no-repeat; border: 0; margin: 6px 17px; width: 308px; height: 35px; }
#createbtn { display: block; background: transparent url('../img/buttons/create-an-account.png') 0 0 no-repeat; border: 0; margin: 6px 17px; width: 308px; height: 35px; }
#signupbtn { background: transparent url('../img/buttons/sign-up.png') 0 0 no-repeat; border: 0; margin: 6px 17px; width: 308px; height: 35px; }

.page { position: relative; display: none; opacity: 0; }

#home { width: 320px; background: #FBF0A6 url('../img/logo-home.png') center 52px no-repeat; height: 100%; }
#signupform { width: 320px; height: 100%;  background: #FBF0A6 url('../img/logo-home.png') center 52px no-repeat; }

#map { width: 100%; height: 100%; }
#map .header { width: 100%; height: 162px; }
#map .header .header_logo_bg { width: 100%; height: 64px; background-color: #FBF0A6; }
#map .header .header_logo { width: 268px; height: 37px; background: transparent url('../img/logo-list.png') 0 0 no-repeat; margin: 13px auto 14px; }
#map .header .header_bottom { width: 100%; height: 98px; background-color: #FEC78B; }
#map .header .header_bottom .search { float: left; width: 40%; }
#map .header .header_bottom .list_button { float: left; display: block; width: 50px; height: 35px; margin: 5px 5px 0 0; background: transparent url('../img/buttons/list.png') 0 0 no-repeat; }
#map .header .header_bottom .map_button { float: left; display: block; width: 51px; height: 35px; margin: 5px 0 0; background: transparent url('../img/buttons/map.png') 0 0 no-repeat; }
#map .header .header_bottom .photo_button { display: block; width: 280px; height: 35px; margin: 0 auto;  background: transparent url('../img/buttons/submit-your-photo.png') 0 0 no-repeat; }
#map_canvas { height: 100%; width: 100%; }

#list { width: 100%; height: 100%; }
#list .header { width: 100%; height: 162px; }
#list .header .header_logo_bg { width: 100%; height: 64px; background-color: #FBF0A6; }
#list .header .header_logo { width: 268px; height: 37px; background: transparent url('../img/logo-list.png') 0 0 no-repeat; margin: 13px auto 14px; }
#list .header .header_bottom { width: 100%; height: 98px; background-color: #FEC78B; }
#list .header .header_bottom .search { float: left; width: 40%; }
#list .header .header_bottom .list_button { float: left; display: block; width: 50px; height: 35px; margin: 5px 5px 0 0; background: transparent url('../img/buttons/list.png') 0 0 no-repeat; }
#list .header .header_bottom .map_button { float: left; display: block; width: 51px; height: 35px; margin: 5px 0 0; background: transparent url('../img/buttons/map.png') 0 0 no-repeat; }
#list .header .header_bottom .photo_button { display: block; width: 280px; height: 35px; margin: 0 auto; background: transparent url('../img/buttons/submit-your-photo.png') 0 0 no-repeat; }
#list .header .header_bottom .location_button { display: block; width: 280px; height: 35px; margin: 0 auto; background: transparent url('../img/buttons/add-a-location.png') 0 0 no-repeat; }

#listitems { list-style: none; margin: 0; padding: 0; }
#listitems .item { width: 100%; height: 62px; padding: 10px; list-style: none; border-bottom: 1px solid #fff; }
#listitems .odd { background-color: #fdaf35; color: #972c02; }
#listitems .even { background-color: #d65700; color: #fff; }
#listitems .item .image { width: 62px; height: 62px; float: left; margin-right: 5px; }
#listitems .item .stuff { width: 230px; height: 62px; float: right; }
#listitems .item .stuff .top { width: 100%; height: auto; }
#listitems .item .stuff .top .title { font-weight: bold; float: left; }
#listitems .item .stuff .top .distance { float: right; }
#listitems .item .stuff .bottom { width: 100%; height: auto; }
#listitems .item .stuff .bottom .desc { width: 175px; height: auto; float: left; }
#listitems .item .stuff .bottom .more {  font-size: 20px; width: 20px; height: auto; float: right; }

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

}

/* iPhone 4, Opera Mobile 11 and other high pixel ratio devices ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.0),
only screen and (-o-min-device-pixel-ratio: 1),
only screen and (min--moz-device-pixel-ratio: 1.0),
only screen and (min-device-pixel-ratio: 1.0) {
  /* Styles */
  #loginbtn { background-size: 280px 35px; }
  #createbtn { background-size: 280px 35px; }
  #signupbtn { background-size: 280px 35px; }
  #home, #signupform { background-size: 195px 90px; }
  #map .header .header_logo { background-size: 268px 37px; }
  #map .header .header_bottom .list_button { background-size: 50px 35px; }
  #map .header .header_bottom .map_button { background-size: 51px 35px; }
  #map .header .header_bottom .photo_button { background-size: 280px 35px; }
  #list .header .header_logo { background-size: 268px 37px; }
  #list .header .header_bottom .list_button { background-size: 50px 35px; }
  #list .header .header_bottom .map_button { background-size: 51px 35px; }
  #list .header .header_bottom .photo_button { background-size: 280px 35px; }
  #list .header .header_bottom .location_button { background-size: 280px 35px; }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
